<div class="keys" ng-repeat ="fila in valor">
	<p>
<boton ng-repeat = "dato in fila" valor=dato accion='accion({dato:dato})' ng-model=dato ng-class="(dato == '+' || dato == '-' || dato == '*' || dato == '/') ? 'button pink' : (dato == '=' ? 'button orange' : (dato == 'c' ? 'button grey' : 'button black'))"></boton>
</p>
</div>
